/* header.css */
.header {
    background-color: #FFFFFF;
    background-size: cover; /* Cover the entire header area */
    background-position: center center; /* Center the background image */
    padding: 20px 0; /* Top and bottom padding */
    height: 20px; /* Adjust the height of the header */
    font-family: 'Times New Roman', Times, serif; /* Apply traditional font style */
    border-radius: 15px; /* Rounded corners */
  }
  
  
  
  
  .header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align the list items */
  }
  
  .header nav ul li {
    margin: 0 15px; /* Margin between each list item */
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: #fff; /* Text color for navigation links */
    font-size: 18px;
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    padding: 10px 15px; /* Padding around the links */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for color and scale change */
  }
  
 /* Assuming you're using a separate CSS file */
.header_link li {
    font-weight: bold; /* Make list items bold */
    font-size: 20px; /* Adjust the font size as needed */
  }
  
  .header_link li a {
    color: black; /* Default color of the links */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .header_link li a:hover {
    background-color: lightgray; /* Change background color on hover */
    color:#2c3e50;
  }
  